@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
    font-family: "Outfit", system-ui, -apple-system, sans-serif;
}

body {
  background-color: #f9f9f9; /* putih elegan */
}

@theme {
  --color-primary: #4fbf8b;
  --color-primary-dull: #44ae7c;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}
